/* Imports */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

/* Universal CSS */
*,
*:before,
*:after 
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  background-color: #304050;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 800;
}

button 
{
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover 
{
  opacity: 0.8;
  transform: scale(1.05);
}

.ButtonLink
{
	background-color: #304050;
  border-radius: 50px;
	border: 2px solid #007CED;
	display: inline-block;
	cursor: pointer;
	color: #dadada;
  padding: 10px 60px;
  text-decoration: none;
  transition: transform 0.2s;
  margin-left: 10%;
}

.ButtonLink:hover 
{
  background-color: #007CED;
  color: #dadada;
  text-decoration: none;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) 
{
  .ButtonLink
  {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 634px)
{
  .ButtonLink
  {
    margin-left: 0;
    margin-top: 10%;
  }
} 

img
{
  cursor: pointer;
  transition: transform 0.2s;
}

img:hover
{
  transform: scale(1.1);
}

/* Login form */

.LoginCard
{
  width: 70%;
  text-align: center;
  margin-top: 2.5%;
}

#Logo
{
  border-radius: 50%;
  border: 2px solid white;
}

#Logo:hover
{
  opacity: 90%;
}

input[type = text], input[type = password]
{
  width: 80%;
  margin-top: 5%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#LoginButton
{
  background-color: #4CAF50;
  color: white;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 14px 20px;
}

@media screen and (max-width: 800px) 
{
  input[type = text], input[type = password]
  {
    margin-top: 10%;
  }

  #LoginButton
  {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/* Pop up Personality Form */

#overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.6;
  z-index: 100;
  display: none;
}

.PopUpCard a
{
  text-decoration: none;
}

.popup
{
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}
  
.PopUpCard
{
  margin-top: 10%;
  margin-left: 20%;
  width: 60%;
  background: rgb(185, 185, 185);
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  padding-bottom: 5%;
}

@media screen and (max-width: 800px) 
{
  .PopUpCard
  {
    padding-bottom: 10%;
  }
}
  
.PopUpCard p
{
  clear: both;
  font-size: 20px;
}

.close
{
  opacity: 100%;
}

.close:hover
{
  opacity: 100%;
}

/* Top Navigation Bar */
.TopNavigationBar
{
  overflow: hidden;
  background-color: rgb(185, 185, 185);
  position: fixed;
  top: 0;
  width: 100%;
}

#NavigationBarIcon
{
  border-radius: 50%;
  padding: 0.5%;
}